<section class="attack">
  <div class="attack__elements">
    <img class="attack__element" src="/assets/img/leaf.png" />
    <img class="attack__element" src="/assets/img/leaf.png" />
  </div>
  <p class="attack__desc">
    <strong class="attack__name">Vampigraine</strong> À moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégâts de Bulbizarre.
  </p>
  <h3 class="attack__damage">20</h3>
</section>