<section class="info">
    <div>
        <p class="info__type">Pokémon de base</p>
        <h1 class="info__name">Bulbizarre</h1>
    </div>
    <h2 class="info__health">40 PV</h2>
    <img class="info__element" src="/assets/img/leaf.png" />
</section>