@font-face {
  font-family: "Ubuntu Bold";
  src: url(./../fonts/Ubuntu-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(./../fonts/Ubuntu-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Light";
  src: url(./../fonts/Ubuntu-Light.ttf) format("truetype");
  font-display: swap;
}

:root {
  --main-content-size: 1.6rem;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--main-content-size);
}

// Médias queries pour l'adaptation à tous les supports

// Adaptations pour les téléphones
@media screen and (max-width: 650px) {
  html {
    font-size: 7px;
  }
}

// Adaptations pour les tablettes et écrans d'ordinateur à faible résolution
@media screen and (max-width: 1050px) {
  html {
    font-size: 8px;
  }
}

// Adaptations pour las écrans full HD et +
@media screen and (min-width: 1050px) {
  html {
    font-size: 10px;
  }
}

// Adaptations pour les grands écrans
@media screen and (min-width: 2000px) {
  html {
    font-size: 12px;
  }
}
