* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: unset;
  text-decoration: none;
}
p {
  margin: 0px;
}
li {
  list-style-type: none;
}
img {
  max-height: 100%;
  max-width: 100%;
}
