@import "reset";
@import "font";

html {
  scroll-behavior: smooth;
}

html img {
  /* no-select */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
  /* no-drag */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* Règle afin que le scroll par ID amène à l'élément en dessous du header en fixed */
.scroll__anchor {
  display: block;
  position: absolute;
  top: -50px;
  visibility: hidden;
}

body {
  background-color: #eeeeee;
  text-align: center;
}

header {
  height: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  color: #eeeeee;
  background-color: black;
}
.header__menu {
  width: 45%;
}
.header__menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu a {
  transition: color 0.3s;
}
.header__menu a:after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  transition: width 0.3s;
}
.header__menu a:hover:after {
  width: 100%;
}
.header__menu li:first-of-type a:hover {
  color: #8fd0e6;
}
.header__menu li:first-of-type a:after {
  background: #0268e6;
}
.header__menu li:nth-of-type(2) a:hover {
  color: #df5837;
}
.header__menu li:nth-of-type(2) a:after {
  background: #ad3434;
}
.header__menu li:last-of-type a:hover {
  color: #9ddf76;
}
.header__menu li:last-of-type a:after {
  background: #6b9b4f;
}
.header__social {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.header__social > a > img {
  height: 35px;
}

main > section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main > section:first-of-type ~ section {
  border-bottom: 2px solid black;
}
main > section:last-of-type {
  border-bottom: 0;
}
main > section > div:nth-of-type(2) {
  padding: 25px 0;
}

.button {
  padding: 15px 20px;
  border-radius: 25px;
  background-color: #deedf1;
  color: black;
  position: relative;
}
.button:before {
  content: "";
  position: absolute;
  border-radius: 25px;
  width: 0%;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.3s linear;
  z-index: -1;
}
.button:hover:before {
  width: 100%;
  box-shadow: 0 0 20px #0268e6;
}

.image__text {
  width: 100%;
  position: absolute;
  bottom: 25px;
  color: #eeeeee;
}

.presentation__text {
  width: 70%;
}
.presentation__text > p {
  margin-top: 25px;
}

.shop__lightsaber {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.lightsaber__animation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -350px;
  margin-top: 15px;
}
.lightsaber__animation > img {
  width: 350px;
  position: relative;
  z-index: 2;
}
.lightsaber__blade {
  height: 30px;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 275px;
  z-index: 1;
  transition: 0.3s linear;
}
.lightsaber__colors {
  margin: 25px 0;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.shop__lightsaber button {
  font-family: inherit;
  font-size: inherit;
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  outline: none;
}
.lightsaber__colors > .button:first-of-type {
  color: #0268e6;
  background-color: #deedf1;
}
.lightsaber__colors > .button:first-of-type:hover:before {
  box-shadow: 0 0 20px #0268e6;
}
.lightsaber__colors > .button:nth-of-type(2) {
  color: #ad3434;
  background-color: #f1dede;
}
.lightsaber__colors > .button:nth-of-type(2):hover:before {
  box-shadow: 0 0 20px #ad3434;
}
.lightsaber__colors > .button:last-of-type {
  color: #6b9b4f;
  background-color: #def1e4;
}
.lightsaber__colors > .button:last-of-type:hover:before {
  box-shadow: 0 0 20px #6b9b4f;
}
.shop__lightsaber > .button {
  background-color: #d0d9db;
}
.shop__lightsaber > .button:hover:before {
  box-shadow: 0 0 20px black;
}
.shop > p {
  margin: 25px 0;
}

.club__presentation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}
.club__text {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.club__text > * {
  margin-top: 15px;
}

footer {
  height: 100px;
  background-color: black;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Médias queries pour l'adaptation à tous les supports
// Adaptations pour les téléphones
@media screen and (max-width: 650px) {
  header {
    height: 175px;
    flex-direction: column;
    padding: 15px 25px;
  }
  .header__menu {
    width: 85%;
  }
  .header__social > a > img {
    height: 25px;
  }

  main > section:first-of-type ~ section {
    padding: 25px;
  }

  .image {
    display: none;
  }

  .lightsaber__animation {
    height: 675px;
    flex-direction: column;
    left: 0;
  }
  .lightsaber__animation > img {
    width: 200px;
    transform: rotate(270deg);
    bottom: -545px;
  }
  .lightsaber__blade {
    height: 500px;
    width: 20px;
    left: 89.5px;
    top: 20px;
  }
  .lightsaber__colors {
    width: 300px;
  }

  .shop__lightsaber > .button {
    display: none;
  }

  .club__presentation {
    flex-direction: column;
  }
  .club__presentation > img {
    width: 310px;
  }
  .club__text {
    width: 85%;
  }
}
// Adaptations pour les tablettes et écrans d'ordinateur à faible résolution
@media screen and (min-width: 650px) and (max-width: 1050px) {
  header {
    padding: 0 50px;
  }

  main > section:first-of-type ~ section {
    padding: 25px;
  }

  .lightsaber__animation {
    left: -200px;
  }
  .lightsaber__animation > img {
    width: 200px;
  }
  .lightsaber__blade {
    height: 20px;
    left: 175px;
  }

  .club__presentation > img {
    width: 200px;
  }
}
// Adaptations pour els écrans full HD et +
@media screen and (min-width: 1050px) {
  main > section:first-of-type ~ section {
    padding: 50px;
  }

  .club__presentation > img {
    width: 350px;
  }
}
